certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
Flask
gTTS==2.2.3
idna==3.3
Jinja2==3.0.3
numpy==1.22.0
pydub==0.25.1
python-dotenv==0.19.2
requests==2.26.0
six==1.16.0
SpeechRecognition==3.8.1
stt==1.0.0
urllib3==1.26.7
waitress
Werkzeug